/* css */

.attractions-about {
    margin-top: 220px;
}

.attractions-about .aimage img {
    width: 100%;
}

.attractions-about .atitle {
    font: normal bold 40px 'Buenard Bold', 'sans-serif';
    color: #2398A9;
    line-height: 60px;
}

.attractions-about .ades {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    color: #333333;
    line-height: 25px;
    margin: 37px 0 67px;
}

.attractions-items .cl-title {
    margin-top: 155px;
    margin-bottom: 67px;
}


/* item */

.attractions-item {
    position: relative;
}

.attractions-item .aiw-img img {
    max-width: 480px;
    width: 100%;
    height: 514px;
    display: block;
}

.attractions-item .aiw-des {
    color: #161616;
    font-size: 15px;
    padding: 13px 17px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top: 18px;
    right: 13px;
}

.attractions-item .aiw-body {
    min-height: 380px;
    border: 1px solid #B9B9B9;
    margin-top: 6px;
    padding: 40px 42px;
}

.attractions-item .aiw-title {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    color: #333333;
    line-height: 30px;
    margin-bottom: 15px;
}

.attractions-item .aiw-line {
    height: 2px;
    width: 100%;
    background-color: #707070;
}

.attractions-item .aiw-content {
    margin-top: 30px;
}

.aiw-content p {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    color: #33333390;
    line-height: 25px;
}


/* feativa retaurant */

.festiva-restaurant {
    margin-top: 155px;
}

.festiva-restaurant .frw-item {
    width: 100%;
    min-height: 505px;
    position: relative;
    display: block;
}

.festiva-restaurant .frw-item img {
    width: 100%;
    min-height: 505px;
}

.festiva-restaurant .fri-body {
    max-width: calc(100% - 616px);
    height: auto;
    background-color: #FFFFFF;
    z-index: 10;
    padding: 60px 232px;
    position: absolute;
    top: 96px;
    left: 306px;
    right: 306px;
}

.festiva-restaurant .fri-body .fri-title {
    font: normal 60px 'Buenard Regular', 'sans-serif';
    color: #333333;
    line-height: 50px;
    margin-bottom: 35px;
}

.festiva-restaurant .fri-body .fri-content p {
    font-size: 18px;
}

.fri-overlay {
    width: 100%;
    height: 100%;
    background-color: #0E111142;
    position: absolute;
    top: 0;
}


/* carousel */

#multi-carousel-attractions {
    position: relative;
}

#multi-carousel-attractions .owl-next {
    right: -60px;
    position: absolute;
    position: absolute;
    top: 22%;
}

#multi-carousel-attractions .owl-prev {
    left: -60px;
    position: absolute;
    top: 22%;
}

#multi-carousel-attractions .next-icon,
#multi-carousel-attractions .prev-icon {
    background: none;
    border: solid #343434;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 24px;
}

#multi-carousel-attractions .prev-icon {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#multi-carousel-attractions .next-icon {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#multi-carousel-attractions .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

#multi-carousel-attractions button:focus {
    outline: none;
}


/* single */

.single-pAttractions .attractions {
    margin-top: 171px;
}

.attractions-carousel {
    margin-top: 85px;
}

.attractions-carousel .cat-attractions-line {
    width: 23px;
    margin-right: 20px;
}

.attractions-carousel .att-title {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    color: #333333;
    line-height: 25px;
    margin-bottom: 17px;
}

.attractions-carousel .att-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.attractions-carousel .att-img {
    position: relative;
}

.attractions-carousel .att-img img {
    width: 100%;
    height: 289px;
}

.attractions-carousel .att-des {
    background-color: #202A2B;
    height: 44px;
    min-width: 250px;
    padding-left: 17px;
    position: absolute;
    left: 23px;
    bottom: 16px;
}

.attractions-carousel .att-des {
    font: normal 15px 'Yu Gothic Medium', 'sans-serif';
    color: #FFFFFF;
    line-height: 44px;
}

.attractions-carousel .att-content {
    padding: 37px 17px 0;
}

.single-attractions-item .saiw-img {
    position: relative;
    padding-right: 0;
}

.spa-items .cl-title {
    margin-top: 72px;
    margin-bottom: 124px;
}

.spa-items .sai:nth-child(n + 3) {
    margin-top: 104px;
}

.spa-items .sai:nth-child(2n + 3) .single-attractions-item .single-attractions-item-wrap {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    display: -webkit-box;
    /* display: -ms-flexbox; */
    /* display: flex; */
}

.spa-items .sai:nth-child(2n + 3) .single-attractions-item .saiw-img {
    padding-right: 15px;
    padding-left: 0;
}

.spa-items .sai:nth-child(2n + 3) .single-attractions-item .saiw-img .saiw-des {
    right: 30px;
}

.single-attractions-item .saiw-img img {
    width: 100%;
    height: 500px;
}

.single-attractions-item .saiw-img .saiw-des {
    font: normal 18px 'Yu Gothic Medium', 'sans-serif';
    color: #161616;
    height: 54px;
    min-width: 307px;
    line-height: 54px;
    padding-left: 27px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.single-attractions-item .saiw-img .saiw-des {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.single-attractions-item .saiw-body {
    padding-left: 45px;
    padding-right: 45px;
    border: 1px solid #707070;
    position: relative;
}

.single-attractions-item .saiw-body .saiw-title {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    color: #333333;
    margin-top: 42px;
}

.single-attractions-item .saiw-body .saiw-des {
    font: normal 16px 'Yu Gothic Regular', 'sans-serif';
    color: #FFFFFF;
    min-height: 30px;
    height: auto;
    line-height: 30px;
    width: auto;
    padding: 0 30px;
    background-color: #B88C8C;
    margin-top: 7px;
    position: relative;
}

.single-attractions-item .saiw-body .saiw-des::before {
    content: '';
    border-bottom: 8px solid #B88C8C;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -8px;
    left: 15px;
}

.single-attractions-item .saiw-body .saiw-footer {
    position: absolute;
    bottom: 26px;
}

.single-attractions-item .saiw-body .saiw-content {
    margin-top: 25px;
}


/* responsive */

@media screen and (max-width: 1919.98px) {
    .pAttractions>.container {
        max-width: calc(100% - 448px);
    }
    .festiva-restaurant .fri-body {
        max-width: 100%;
        padding: 60px 116px;
    }
}

@media screen and (max-width: 1439.98px) {
    .pAttractions>.container {
        max-width: calc(100% - 224px);
    }
    .festiva-restaurant .fri-body {
        left: 153px;
        right: 153px;
    }
}


/* size LG - < 1200px */

@media screen and (max-width: 1199.98px) {
    .pAttractions>.container {
        max-width: 100%;
    }
    .attractions-about {
        margin-top: 110px;
    }
    .attractions-about .atitle {
        font-size: 24px;
        line-height: 35px;
        margin-top: 30px;
    }
    .attractions-about .ades {
        margin: 17px 0 37px;
    }
    /* carousel */
    #multi-carousel-attractions .next-icon,
    #multi-carousel-attractions .prev-icon {
        padding: 16px;
    }
    #multi-carousel-attractions .owl-next {
        right: -30px;
        position: absolute;
        top: 25%;
    }
    #multi-carousel-attractions .owl-prev {
        left: -30px;
        position: absolute;
        top: 25%;
    }
}


/* size MD - < 991.98px */

@media screen and (max-width: 991.98px) {
    .attractions-items>div:nth-child(4n + 4) {
        display: none;
    }
    .festiva-restaurant .fri-body {
        left: 75px;
        right: 75px;
    }
    .festiva-restaurant .fri-body .fri-title {
        font-size: 40px;
    }
    .festiva-restaurant .fri-body {
        padding: 30px 75px;
    }
    /* single */
    .single-attractions-item .saiw-img {
        padding: 0;
    }
    .single-attractions-item .saiw-body .saiw-footer {
        position: unset;
        margin-top: 74px;
        margin-bottom: 26px;
    }
}


/* size SM - < 767.98px */

@media screen and (max-width: 767.98px) {
    .attractions-items>div:nth-child(4n + 4) {
        display: block;
    }
    .attractions-items>div:nth-child(n + 2) {
        margin-top: 30px;
    }
    .festiva-restaurant {
        margin-top: 77px;
    }
    .festiva-restaurant .fri-body {
        left: 35px;
        right: 35px;
    }
    .festiva-restaurant .fri-body .fri-title {
        font-size: 24px;
    }
    .festiva-restaurant .fri-body {
        top: 48px;
        padding: 30px 35px;
    }
}


/* size E SM - < 575.98px */

@media screen and (max-width: 575.98px) {
    .attractions-about {
        margin-top: 55px;
    }
    .attractions-items .cl-title {
        margin-top: 77px;
        margin-bottom: 37px;
    }
    /* carousel */
    #multi-carousel-attractions .next-icon,
    #multi-carousel-attractions .prev-icon {
        padding: 13px;
    }
    #multi-carousel-attractions .owl-next {
        right: -30px;
    }
    #multi-carousel-attractions .owl-prev {
        left: -30px;
    }
    /* single */
    .spa-items .single-attractions-item .single-attractions-item-wrap,
    .spa-items .sai:nth-child(2n + 3) .single-attractions-item .single-attractions-item-wrap {
        display: initial;
    }
    .spa-items .sai:nth-child(2n + 3) .single-attractions-item .saiw-img {
        padding: 0;
    }
    .spa-items .sai:nth-child(n + 3) {
        margin-top: 52px;
    }
    .spa-items .cl-title {
        margin-top: 36px;
        margin-bottom: 62px;
    }
    .single-pAttractions .attractions {
        margin-top: 85px;
    }
    .attractions-carousel {
        margin-top: 42px;
    }
}

@media screen and (max-width: 375px) {
    .festiva-restaurant .fri-body {
        padding: 15px;
    }
    .festiva-restaurant .fri-body .fri-title {
        margin-bottom: 17px;
    }
}