.page-about-content.container {
    width: 1044px;
    margin: auto;
}

.page-about-title .post-title {
    margin: 152px auto 49px auto;
}

.page-about-content .cat-main-title {
    margin-top: 30px;
    margin-bottom: 22px;
}

.page-about-content .cat-line {
    width: 40px;
    margin-right: 12.5px;
}

.page-about-content .cat-title {
    font: normal bold 24px 'Yu Gothic Bold', 'sans-serif';
    line-height: 30px;
    color: #166772;
}

.description-feature-about pre {
    line-height: 35px;
}

.page-about-block-feature {
    margin-top: 102px;
    margin-bottom: 140.5px;
}

.popular-video {
    margin-bottom: 160px;
    padding-top: 80px;
}

.popular-video .cl-title {
    margin-bottom: 89px;
}

.popular-video .rvideo {
    margin: auto;
    padding: 30px 15px;
    background: #fff;
}

.about-video {
    max-width: 517px;
    width: 100%;
    height: auto;
    margin: auto;
    border: none;
}

.about-video iframe {
    width: 100%;
    height: 100%;
}

.about-video .card-img-top {
    height: 287px;
}

.about-video .card-body {
    padding: 30px 0;
}

.about-video .card-title {
    font: normal bold 24px 'Yu Gothic Bold', 'sans-serif';
    line-height: 25px;
    color: #333333;
}

.about-feature-lists {
    margin: auto;
}

.about-feature-lists .about-feature-item {
    position: relative;
}

.about-feature-lists .about-feature-item img {
    width: 100%;
    height: auto;
}

.about-feature-lists .about-feature-item .afi-content {
    position: absolute;
    bottom: 37px;
    width: 100%;
    text-align: center;
}

.about-feature-lists .about-feature-item .afi-title {
    font: normal 28px 'Buenard Regular', 'sans-serif';
    line-height: 25px;
    color: #FFFFFF;
}

.carousel-facilities-about .owl-carousel .fiw-img img {
    height: 534px;
}

.carousel-facilities-about .owl-carousel .owl-item {
    opacity: 0.5;
}

.carousel-facilities-about .owl-carousel .active {
    opacity: 1 !important;
}

.container-facilities-about {
    padding-left: 0px;
    padding-right: 0px
}

.container-facilities-about .wrap-facilities-about {
    width: 100%;
    position: relative;
}

.container-facilities-about .wrap-facilities-about .mask-facilities-about {
    width: 100%;
    height: 930px;
    position: absolute;
    z-index: -1;
    padding: 0px 60px;
}

.container-facilities-about .wrap-facilities-about .mask-facilities-about .content-facilities-about {
    background: #F6F5F1;
    position: relative;
    height: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    left: 195px;
    background: #2c2d2d;
    height: 60px;
    width: 60px;
    opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 45%;
    right: 195px;
    background: #2c2d2d !important;
    height: 60px;
    width: 60px;
    opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: #869791 !important;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    background: none;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    height: 20px;
    width: 20px;
    display: block;
}

.owl-carousel .owl-nav button.owl-next span {
    -webkit-transform: rotate( -45deg);
    -ms-transform: rotate( -45deg);
    transform: rotate( -45deg);
    margin-left: 15px;
}

.owl-carousel .owl-nav button.owl-prev span {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate( 135deg);
    transform: rotate(135deg);
    margin-left: 25px;
}

.popular-video .content-popular-video {
    background-image: linear-gradient(45deg, #dedede 25%, #ffffff 25%, #ffffff 50%, #dedede 50%, #dedede 75%, #ffffff 75%, #ffffff 100%);
    background-size: 11.31px 11.31px;
    width: calc(100% - 230px);
    margin: auto;
    padding: 5px;
}


/* responsive */

@media screen and (max-width: 1919.98px) {
    .about-video {
        width: 100%;
    }
    .block-carousel-facilities-about .carousel-control-prev {
        left: 30px;
    }
    .block-carousel-facilities-about .carousel-control-next {
        right: 30px;
    }
}


/* size LG - < 1200px */

@media screen and (max-width: 1199.98px) {
    .page-about-content.container {
        width: 100%;
    }
    .page-about-block-feature-wrap.container {
        width: auto;
        padding: 0 20px;
    }
    .page-about-block-feature-wrap .about-feature-item {
        max-width: 100%;
    }
    .about-feature-lists .about-feature-item img {
        width: 100%;
        height: 100%;
    }
    .about-video {
        width: 100%;
    }
}


/* size MD - < 991.98px */

@media screen and (max-width: 991.98px) {
    .change-mgt {
        margin-top: 30px;
    }
    .popular-video .rvideo {
        width: 100%;
    }
}


/* size SM - < 767.98px */

@media screen and (max-width: 767.98px) {
    .page-about-title .post-title {
        margin: 76px auto 25px auto;
    }
    .page-about-block-feature {
        margin-top: 51px;
        margin-bottom: 71px;
    }
    .about-feature-lists .about-feature-item:nth-child(n+2) {
        margin: auto;
        margin-top: 32px;
    }
    .carousel-facilities-about .owl-carousel .fiw-img img {
        height: 174px;
    }
    .container-facilities-about .wrap-facilities-about .mask-facilities-about {
        width: 100%;
        height: 450px;
        position: absolute;
        z-index: -1;
        padding: 0px 20px;
    }
    .popular-video .content-popular-video {
        width: 100%;
    }
}


/* size E SM - < 599px */

@media screen and (max-width: 599px) {
    .owl-carousel .owl-nav button.owl-next {
        right: 55px;
        top: 35%;
        height: 35px;
        width: 35px;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        margin-left: 13px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 55px;
        top: 35%;
        height: 35px;
        width: 35px;
    }
    .owl-carousel .owl-nav button.owl-next span {
        margin-left: 4px;
    }
    .page-about-title .post-title {
        margin: 76px auto 25px auto;
    }
    .page-about-block-feature-wrap .about-feature-item {
        max-width: calc(100% - 40px);
        margin: auto;
    }
    .page-about-block-feature {
        margin-top: 51px;
        margin-bottom: 71px;
    }
    .about-feature-lists .about-feature-item:nth-child(n+2) {
        margin: auto;
        margin-top: 32px;
    }
    .popular-video {
        margin-bottom: 80px;
    }
    .popular-video .cl-title {
        margin-bottom: 44px;
    }
    .about-video {
        height: 350px;
    }
    .carousel-facilities-about .owl-carousel .fiw-img img {
        height: 133px;
    }
}