/* slider home */

.slider-home {
    position: relative;
}

.home .n2-ss-control-bullet {
    display: none;
}


/* plugin smart slider 3 */

.slider-home .carousel-control {
    width: 50px;
    height: 49px;
}

.slider-home div#n2-ss-2 .nextend-arrow img {
    width: 17px !important;
    margin: auto;
    display: block;
    height: 100%;
}

.slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-next {
    top: 276px !important;
}

.slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-previous {
    top: 328px !important;
}


/* scroll bar */

.slider-home .scroll-bar,
.slider-home .scroll-bar-wrap {
    width: 72px;
    height: 141px;
}

.slider-home .scroll-bar .scb-text {
    font: normal 20px 'Open Sans Light', 'sans-serif';
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.slider-home .scroll-bar .scb-line {
    width: calc(72px / 2);
    height: 100%;
    border-right: 1px solid #FFFFFF;
}

.slider-home .scroll-bar {
    position: absolute;
    top: 619px;
    left: 50%;
}


/* block about us */

.section-home-about {
    padding: 146px 264px 146px 284px;
}

.section-home-about .sha-wrap .sha-column-left {
    width: 644px;
}

.section-home-about .sha-wrap .sha-column-left .change-font {
    font-family: 'Buenard Bold', 'sans-serif';
    font-weight: bold;
}

.section-home-about .sha-wrap .sha-column-left .sha-title {
    font-family: 'Buenard Bold', 'sans-serif';
    font-weight: bold;
    color: #2398A9;
}

.section-home-about .sha-wrap .sha-column-left .sha-title .sha-sub-title,
.section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
    font-family: 'Yu Gothic Bold', 'sans-serif';
    color: #333333;
    font-weight: bold;
    display: block;
}

.section-home-about .sha-wrap .sha-column-left .sha-title .sha-sub-title,
.section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
    text-transform: uppercase;
}

section .cl-title {
    font-size: 60px;
    font-weight: normal;
}

section .cl-title span {
    line-height: 25px;
}

section .cl-sub-title,
.section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
    font-size: 24px;
}

.section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
    line-height: 25px;
}

.section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
    margin-top: 36px;
    margin-bottom: 24px;
}

.section-home-about .sha-wrap .sha-column-left .sha-excerpt {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    line-height: 25px;
    color: #333333;
}

.section-home-about .sha-wrap .sha-column-left .sha-more {
    margin-top: 78px;
}

.section-home-about .sha-wrap .sha-column-left .sha-more a {
    font: normal 18px 'Yu Gothic Regular', 'sans-serif';
    line-height: 30px;
    color: #166772;
    border-bottom: 1px solid #166772;
}

.section-home-about .sha-wrap .sha-column-left .sha-more a:hover {
    color: #ff0000;
}

.section-home-about .sha-wrap .sha-column-right {
    width: 644px;
    position: relative;
}

.section-home-about .sha-wrap .sha-column-right img,
.section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
    width: 622px;
    height: 468px;
}

.section-home-about .sha-wrap .sha-column-right img {
    position: absolute;
    top: 0;
    left: 42px;
    z-index: 10;
}

.section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
    border: 1px solid #2398A9;
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 9;
}


/* apartment */

.apartment-wrap.container,
.features-wrap.container {
    max-width: 1676px;
}

.apartment-wrap,
.features-wrap {
    background-color: #F6F5F1;
    width: 1676px;
    margin: auto;
    /*padding: 67px 0;*/
}

.ap-title .cl-main-title {
    font-family: 'Buenard Regular', 'sans-serif';
    color: #494949;
}

.ap-title .cl-sub-title {
    font-family: 'Yu Gothic Medium', 'sans-serif';
    color: #333333;
}


/* cat-title */

.cat-main-title {
    display: inline-block;
}

.cat-title {
    font: normal 40px 'SeoulHangang M', 'sans-serif';
    line-height: 30px;
    color: #166772;
}

.cat-line {
    width: 44px;
    border: 2px solid #166772;
}

.cat-title,
.cat-line {
    display: inline-block;
}

.apartment-wrap .cat-studio-main-title {
    margin-top: 87px;
    margin-bottom: 47px;
    margin-left: 119.5px;
}

.apartment-wrap .cat-studio-title {
    display: inline-block;
    margin-left: 18.5px;
}

.cat-studio-items .csti-item {
    /*width: 1437px;*/
    margin: auto;
}

.cat-studio-items .csti-item img {
    /*width: 1437px;
    height: 498px;*/
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

.aparment-posts .post-content .post-excerpt {
    max-height: 139px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}


/* post home */

.post-content .post-title {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    line-height: 30px;
    color: #333333;
}

.post-content .post-title {
    padding-bottom: 17px;
}

.post-content .post-excerpt {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    line-height: 28px;
    color: #333333;
}

.post-content .post-price {
    padding-top: 35px;
    padding-bottom: 79px;
}

.post-content .pp-dollar {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    line-height: 30px;
    color: #DF2A2A;
}

.post-content .pp-vnd {
    font: normal 24px 'Yu Gothic regular', 'sans-serif';
    line-height: 30px;
    color: #333333;
}

.post-content .pp-vnd-number {
    font: normal bold 24px 'Yu Gothic', 'sans-serif';
    line-height: 30px;
    color: #333333;
}

.cat-studio-items .csti-item .csti-content {
    /*width: 1304px;
    height: auto;
    margin: auto;
    position: relative;*/
    position: relative;
    padding: 20px;
    background: #fff;
    width: 80%;
    left: 10%;
    top: -100px;
    padding: 35px 35px 50px;
}

.cat-studio-items .csti-item .csti-content-wrap {
    /*padding: 49px 63px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: -64px;
    display: inline-block;*/
}

.cat-studio-items .csti-img .carousel-control {
    width: 75px !important;
    height: 71px !important;
    background-color: #5A5A5A;
    opacity: 1;
    top: 213px;
}

.cat-studio-items .csti-img .carousel-control-next {
    bottom: 0 !important;
    background-color: #2398A9 !important;
}

.cat-studio-items .csti-img .carousel-control-prev {
    left: 0 !important;
    bottom: 0 !important;
}

.cat-studio-items .csti-img .carousel-control-next {
    right: 0 !important;
}


/* bed room */

.cat-title-number {
    font: normal 90px 'Arizonia Regular', 'sans-serif';
    line-height: 30px;
    color: #166772;
    height: 82px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.cat-title-number::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #166772;
    border-radius: 10px;
    right: -10px;
    bottom: 39px;
}

.cat-bed .cat-bed-items:nth-child(2n + 1) {
    border-right: 10px solid #166772;
    margin-top: 119px;
}

.cat-bed .cat-bed-items:nth-child(2n + 2) {
    border-left: 10px solid #166772;
    margin-top: 119px;
}

.cat-bed-items .cat-bed-items-wrap {
    position: relative;
    height: 596px;
}

.cat-bed-items .cat-bed-title {
    position: absolute;
    top: -10px;
}

.cat-bed-title .cat-line.mgl {
    margin-left: 23.5px;
}

.cat-bed-title .cat-line.mgr {
    margin-right: 23.5px;
}

.cat-bed-items .cb-item .cb-img {
    /*width: 1126px;
    height: 503px;
    position: absolute;*/
    width: 60%;
}

.cat-bed-items .cb-item .cb-img img {
    width: 100%;
    height: 100%;
}

.cat-bed-items .cb-item .cb-img {
    /*left: -113px;
    right: auto;*/
}

.cat-bed-items .cat-bed-items-wrap.lor .cb-item .cb-img {
    right: -113px;
    left: auto;
}

.cat-bed-items .cb-item .cb-content {
    /*width: 704px;*/
    width: 40%;
    height: auto;
    position: absolute;
}

.cat-bed-items .cb-item .cb-content {
    /*right: 109px;*/
    right: 10%;
    top: 15%;
}

.cat-bed-items .cat-bed-items-wrap.lor .cb-item .cb-content {
    /* left: 109px;*/
    left: 10%;
    top: 108px;
}

.cat-bed-items .cb-item .cb-content-wrap {
    padding: 35px;
    background-color: #FFFFFF;
}

.cat-bed-items .cat-bed-items-wrap.lor .cat-bed-title {
    /* left: 109px;
    right: auto;*/
}

.cat-bed-items .cat-bed-items-wrap .cat-bed-title {
    /*right: 109px;
    left: auto;*/
    right: 10%;
}

.cat-bed-items .cb-img .carousel-control {
    width: 75px !important;
    height: 71px !important;
    background-color: #5A5A5A;
    opacity: 1;
}

.cat-bed-items .cb-img .carousel-control-next {
    top: unset;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #2398A9 !important;
}

.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
    background: none;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    height: 20px;
    width: 20px;
    display: block;
}

.carousel .carousel-control-prev span {
    -webkit-transform: rotate( 135deg);
    -ms-transform: rotate( 135deg);
    transform: rotate( 135deg);
    margin-left: 10px;
}

.carousel .carousel-control-next span {
    -webkit-transform: rotate( -45deg);
    -ms-transform: rotate( -45deg);
    transform: rotate( -45deg);
    margin-right: 10px;
}

.cat-bed-items .cb-img .carousel-control-prev {
    top: unset;
    bottom: 0 !important;
    left: unset;
    right: 75px !important;
}

.cat-bed-items .cb-img .carousel-control-next {
    top: unset;
    bottom: 0 !important;
    right: 0px !important;
}

.cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-next {
    /*right: auto !important;
    left: 75px !important;*/
}

.cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-prev {
    /* right: auto !important;
    left: 0 !important;*/
}

.fiw-img,
.facilities-items .facilities-item-wrap,
.facilities-item-wrap a {
    height: 100%;
}

.facilities-item-wrap a {
    display: block;
}


/* Features */

.fw-items .post-content .post-excerpt {
    max-height: 241px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.fw-items {
    width: 1338px;
}

.fw-items {
    margin: auto;
    margin-top: 66px;
}

.fw-items .fw-items-wrap .fw-img {
    width: 100%;
    height: 486px;
}

.fw-items .fw-items-wrap .fw-set-orverlay {
    position: relative;
}

.fw-items .fw-items-wrap .fw-img-orverlay {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fw-items .fw-items-wrap .fw-img img {
    width: 100%;
    height: 100%;
}

.fw-items .fw-items-wrap .post-title {
    color: #166772;
    padding-top: 18px;
    padding-bottom: 22.5px;
    align-items: center;
}

.fw-items .fw-items-wrap .post-title {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;*/
}

.fw-items .fw-items-wrap .post-title .fw-title-number {
    font: normal bold 43px 'Alegreya Sans ExtraBoldItalic', 'Arial';
    line-height: 52px;
    color: #FFFFFF;
}

.fw-items .fw-items-wrap .post-title .fw-title-number {
    width: 49px;
    height: 54px;
    background-color: #166772;
    transform: skew( -20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -webkit-transform: skew( -20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
}

.fw-items .fw-items-wrap .post-title .fw-title-number {
    display: inline-table;
    text-align: center;
    margin-right: 21px;
    margin-left: 10px;
}

.set-pos {
    display: inline-block;
    vertical-align: top;
    width: 80px;
}

.fw-title-content {
    display: inline-block;
    vertical-align: bottom;
    width: calc( 100% - 80px);
    font-size: 18px;
    line-height: 25px;
    vertical-align: middle;
}

.fw-items .fw-items-wrap .post-title .fw-title-number>span {
    background-color: #166772;
    transform: skew( 20deg, 0deg);
    -moz-transform: skew(20deg, 0deg);
    -webkit-transform: skew( 20deg, 0deg);
    -o-transform: skew(20deg, 0deg);
    -ms-transform: skew(20deg, 0deg);
    display: inline-block;
}

.fw-items .fw-items-wrap .post-content .post-excerpt {
    font-family: 'Yu Gothic Regular', 'sans-serif';
}

.fw-btn-direct {
    margin-top: 93px;
    margin-bottom: 45;
}

.btn-direct a {
    font: normal 20px 'Yu Gothic Regular', 'sans-serif';
    line-height: 30px;
    color: #FFFFFF;
    width: 254px;
    height: 66px;
    background-color: #2398a9;
    text-align: center;
    margin: auto;
    display: block;
    line-height: 66px;
}

.btn-direct a::after {
    content: '';
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate( -45deg);
    -webkit-transform: rotate( -45deg);
    margin-left: 9px;
}


/* facilities */

.facilites-title {
    margin: 40px 0px;
}

.facilities {
    position: relative;
    padding-top: 117px;
    padding-bottom: 196px;
}

.facilities-items {
    /*max-width: 1458px;*/
    /* margin: auto;
    display: table;*/
    /*margin-top: 90px;*/
}

.facilities .ap-title .cl-main-title.change-cl {
    color: #2398A9;
}

.facilities-items .facilities-item {
    /*float: left;
    padding: 0;*/
}

.facilities-items .facilities-item-wrap {
    position: relative;
}

.facilities-items .facilities-item:nth-child(1) {
    /*width: 470px;
    height: 822px;*/
    /*display: block;*/
}

.facilities-items .facilities-item:nth-child(1) {
    /*margin-right: 28px;*/
}

.facilities-items .facilities-item:nth-child(n + 2) {
    width: 301px;
    height: 397px;
    display: block;
}

.facilities-items .facilities-item:nth-child(n + 3) {
    margin-left: 28px;
}

.facilities-items .facilities-item:nth-child(5) {
    margin-left: 0;
}

.facilities-items .facilities-item:nth-child(n + 5) {
    margin-top: 28px;
}

.facilities-items .facilities-item .fiw-img img,
.facilities-items .facilities-item .fiw-img-orverlay {
    width: 100%;
    height: 100%;
}

.facilities-items .facilities-item .fiw-img-orverlay {
    position: absolute;
    top: 0;
    left: 0;
}

.facilities-items .facilities-item .fiw-content {
    position: absolute;
    bottom: 34px;
    left: 15px;
}

.facilities-items .facilities-item .fiw-content img {
    width: 38px;
    height: 38px;
}

.facilities-items .facilities-item .fiw-title {
    font: normal bold 20px 'Yu Gothic Bold', 'sans-serif';
    line-height: 50px;
    color: #FFFFFF;
    margin-top: 17.7px;
}

.facilities-items .facilities-item .fiw-excerpt {
    font: normal 18px 'Yu Gothic Regular', 'sans-serif';
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 21.5px;
}

.facilities_block {
    padding-bottom: 230px;
}

.bg-facilities {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.bg-facilities-top {
    width: 20%;
    height: 100%;
    background-image: url('../images/facilities/bg-facilities-1.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-facilities-bottom {
    width: 20%;
    height: 180px;
    background-image: url('../images/facilities/bg-facilities-2.png');
    background-size: 100% 100%;
    background-position: bottom right;
    position: absolute;
    bottom: 27px;
    right: 33px;
}


/* service */

.service {
    background-color: #166772;
    padding-top: 71px;
    padding-bottom: 140px;
}

.service-tabs {
    width: 1442px;
    height: auto;
    margin: auto;
    margin-top: 89px;
}

.service-tabs .nav-tabs {
    height: 83px;
    border: none;
}

.service-tabs .nav-tabs .nav-item .nav-link {
    border: 1px solid #707070;
    border-bottom: 0;
}

.service-tabs .nav-tabs .nav-item:nth-child(n+2) .nav-link {
    border-left: 0;
}

.service-tabs .nav-tabs .nav-link {
    font: normal 24px 'Yu Gothic Medium', 'sans-serif';
    line-height: 30px;
    color: #333333;
    background-color: #E2E2E2;
    border-radius: 0;
    padding: 0;
    width: calc(1442px / 5);
    height: 83px;
    text-align: center;
    align-items: center;
    display: -ms-inline-grid;
    display: inline-grid;
}

.service-tabs .nav-tabs .nav-item.show .nav-link,
.service-tabs .nav-tabs .nav-link:hover,
.service-tabs .nav-tabs .nav-link:focus,
.service-tabs .nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: #202A2B;
    border: none;
}

.service .ap-title .cl-main-title.change-cl,
.service .ap-title .cl-sub-title.change-cl {
    color: #FFFFFF;
}

.service-post-wrap {
    border: 1px solid #707070;
}

.service-posts,
.service-post,
.service-post-wrap {
    width: 100%;
    height: 625px;
    background-color: #FFFFFF;
}

.service-posts .service-post-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 61px 77px 73px 65px;
}

.service-posts .service-post-wrap .spw-img {
    display: inline-table;
}

.service-posts .service-post-wrap .spw-content {
    width: 504px;
    display: inline-block;
}

.service-posts .service-post-wrap .spw-content {
    margin-left: 73px;
    padding-top: 52px;
}

.service-posts .service-post-wrap .spw-img {
    width: 723px;
    height: 491px;
}

.service-posts .service-post-wrap .spw-img img {
    width: 100%;
    height: 100%;
}

.service-posts .service-post-wrap .spw-title {
    font: normal bold 24px 'Yu Gothic Bold', 'sans-serif';
    line-height: 30px;
    color: #333333;
    margin-bottom: 25px;
}

.service-posts .service-post-wrap .spw-excerpt {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    line-height: 28px;
    color: #333333;
}

.service-posts .service-post-wrap .spw-btn-direct a {
    margin-left: 0;
    margin-top: 34px;
}


/* event */

.events {
    background: url('../images/event/bg-event.png') no-repeat top left;
    padding-top: 125px;
    padding-bottom: 107px;
    height: auto;
}


/* carousel */

#multi-carousel {
    width: 1592px;
    margin: auto;
    position: relative;
}

#multi-carousel .owl-carousel {
    width: 1460px;
    margin: auto;
    margin-top: 54px;
}

#multi-carousel .owl-item {
    width: auto;
    /*height: 435px;*/
    background-color: #FFFFFF;
}

#multi-carousel .owl-item img {
    width: 100%;
    height: 290px;
}

#multi-carousel .owl-item .panel-thumbnail {
    position: relative;
}

#multi-carousel .owl-item .evc-cat {
    position: absolute;
    top: 16px;
    left: 21.6px;
    min-width: 102px;
    height: 41px;
    background-color: #166772;
    font: normal 16px 'NanumGothic Regular', 'sans-serif';
    text-align: center;
    line-height: 41px;
    color: #FFFFFF;
}

#multi-carousel .owl-item .evc-title {
    font: normal bold 24px 'Yu Gothic Bold', 'sans-serif';
    line-height: 25px;
    color: #333333;
    text-align: center;
}

#multi-carousel .owl-item .evc-title {
    margin-top: 28.7px;
    margin-bottom: 17px;
}

#multi-carousel .owl-item .evc-excerpt {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    line-height: 25px;
    color: #333333;
    min-height: 50px;
    padding: 0px 15px 15px;
    text-align: left;
}

#multi-carousel .owl-prev,
#multi-carousel .owl-next {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    position: absolute;
    top: 155px;
}

#multi-carousel .owl-next {
    right: -60px;
}

#multi-carousel .owl-prev {
    left: -60px;
}

#multi-carousel .next-icon,
#multi-carousel .prev-icon {
    background: none;
    border: solid #343434;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 24px;
}

#multi-carousel .prev-icon {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#multi-carousel .next-icon {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#multi-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

#multi-carousel button:focus {
    outline: none;
}

.events-carousel .item .panel {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    position: relative;
    display: block;
    height: 100%;
}

.events-carousel .item .panel::before {
    content: '';
    border-bottom: 2px solid #166772;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    opacity: 0;
}

.item:hover .panel::before {
    opacity: 1;
}

.events-carousel .item:hover {
    box-shadow: 0px 3px 3.5px rgb(0 0 0 / 16%);
}

.h_event_img {
    overflow: hidden;
}

.h_event_img img {
    width: 100%;
    transition: all 1.2s ease 0s;
}

.h_event_img:hover img {
    transform: scale(1.3);
}

.events-carousel .owl-carousel .owl-stage-outer {
    padding: 10px 0px;
}

#multi-carousel .owl-item .evc-title:hover {
    color: #ff0000;
}


/* home-contact */

.home-contact .home-contact-wrap {
    margin: auto;
    margin-top: 111px;
}

.home-contact .home-contact-wrap .hcw-col {
    background-color: #FFFFFF;
    height: 238px;
}

.home-contact .hcw-left {
    margin-right: 24px;
    align-items: center;
    padding-left: 44px;
}

.home-contact .hcw-left>img {
    width: 125px;
    height: 125px;
}

.home-contact .hcw-left-title {
    font: normal bold 26px 'Yu Gothic', 'sans-serif';
    line-height: 28px;
    color: #333333;
    margin: 17px 0px;
}

.home-contact .hcw-left-des,
.home-contact .hcw-right-des {
    font: normal 16px 'Yu Gothic Medium', 'sans-serif';
    line-height: 32px;
    color: #333333;
}

.home-contact .hcw-right {
    margin-left: 24px;
    padding: 30px 44px;
}

.home-contact .hcw-right-title,
.home-contact .hcw-right-main-title {
    font: normal 19px 'Yu Gothic Medium', 'sans-serif';
    line-height: 33px;
    color: #333333;
}

.home-contact .hcw-right-main-title {
    font-size: 28px;
    text-transform: uppercase;
}

.home-contact .hcw-right-phone {
    font: normal 35px 'NanumGothic Regular', 'sans-serif';
    line-height: 38px;
    color: #02A3BF;
    margin: 23px 0;
}

.home-contact .hcw-right-phone a {
    font: normal 35px 'NanumGothic Regular', 'sans-serif';
}

.home-contact .hcw-right-phone>img {
    width: 45px;
    height: 45px;
}

.home-contact .hcw-right-content {
    /*height: 100%;
    width: 100%;*/
    align-items: center;
   /* display: inline-grid;*/
    margin: 25px 45px;
}

 .home-contact .hcw-right-des{
    margin: 15px 0px;
 }


/* quote */

.quote-customer .quote-customer-wrap {
    position: relative;
}

.quote-customer-wrap {
    width: 100%;
    height: 505px;
}

.quote-customer .quote-customer-wrap {
    background: url('../images/quotes/bg-quote.png') no-repeat left top;
    background-size: cover;
}

.quote-customer .quote-orverlay {
    width: 100%;
    height: 100%;
    background-color: #1A2021;
    cursor: pointer;
    opacity: 0.6;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}

.quote-customer .carousel {
    height: 100%;
    z-index: 10;
}

.quote-customer .carousel-inner {
    width: 1228px;
    height: auto;
    margin: auto;
}

.quote-customer .carousel-inner .carousel-item {
    padding-top: 136.3px;
    text-align: center;
}

.quote-customer .quote-content {
    font: normal bold 35px 'Yu Gothic', 'sans-serif';
    line-height: 50px;
    color: #FFFFFF;
    height: 100%;
}

.quote-customer .quote-author {
    font: normal 24px 'Yu Gothic Light', 'sans-serif';
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 82px;
}

.quote-customer .carousel-indicators {
    bottom: 13px;
}

.quote-customer .carousel-indicators>li {
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 13px;
    background-color: transparent;
}

.quote-customer .carousel-indicators>li.active,
.quote-customer .carousel-indicators>li:hover {
    border: 1px solid #2398A9;
    background-color: #2398A9;
}

.quote-customer q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quote-customer q::before {
    content: url('../images/quotes/quote-before.png');
    margin-right: 30.5px;
    margin-top: -22.3px;
}

.quote-customer q::after {
    content: url('../images/quotes/quote-after.png');
    margin-left: 20.5px;
    margin-top: -22.3px;
}


/* video home */

.home-video {
    margin-top: 125px
}

.home-video iframe {
    width: 100%;
    height: 550px;
}

.cat-studio {
    margin: 0 auto;
}

.apratment_bg {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 100%;
    background: #f6f5f1;
}

.cat_item {
    padding: 50px 0px;
}

.cat-odd {
    border-right: 10px solid #166772;
    width: calc( 90% + 10px);
}

.cat-even {
    margin-left: 10%;
    width: calc( 90% + 10px);
    border-left: 10px solid #166772;
}

.cat-even .cat-bed-items .cb-item .cb-img {
    float: right;
}

.apartment_frame {
    padding: 40px 0px;
}

.fw-items {
    width: 80%;
}

.facilities-items .facilities-item {
    margin: 0 !important;
    padding: 15px;
}

.pd-0 {
    padding: 0px;
}

.mask-img {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 80%);
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #ff0000;
}

.wpcf7 form .wpcf7-response-output {
    margin: 3em 0em 0em;
    padding: 2em 1em 1em;
    border: 2px solid #ff0000;
    font-size: 12px;
    line-height: 25px;
    color: red;
}

.wpcf7-not-valid-tip {
    display: none;
}


/* responsive */

@media screen and (max-width: 1919.98px) {
    .apartment-wrap.container,
    .features-wrap.container,
    .service-wrap.container {
        max-width: calc(100% - 244px);
    }
    .slider-home .n2-ss-slider .n2-ow {
        font-size: 40px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-next {
        top: 130px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-previous {
        top: 187px !important;
    }
    .sha-title.cl-title .cl-main-title {
        font-size: 40px;
    }
    section .sha-title.cl-title .cl-sub-title {
        margin-top: 11px;
    }
    .section-home-about {
        padding: 100px 0;
        margin: 0 15px;
    }
    .section-home-about .container {
        max-width: calc(100% - 300px);
    }
    .section-home-about .sha-wrap .sha-column-right {
        width: 100%;
    }
    .section-home-about .sha-wrap .sha-column-right img,
    .section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
        width: 100%;
        height: 421px;
    }
    .section-home-about .sha-wrap .sha-column-right img {
        left: 15px;
    }
    .section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
        top: 15px;
    }
    .apartment-wrap,
    .features-wrap,
    .quote-customer-wrap {
        width: 100%;
    }
    .apartment-wrap .cat-studio-main-title {
        margin-left: 109px;
    }
    .cat-studio-items .csti-item .csti-content {
        /*width: auto;
        margin: 0 60px;*/
    }
    .cat-bed .cat-bed-items:nth-child(2n+1),
    .cat-bed .cat-bed-items:nth-child(2n+2) {
        margin-top: 228px;
    }
    .cat-bed-items .cat-bed-title {
        /* top: -89px;*/
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cat-bed-title {
        /*left: 15px;*/
    }
    .cat-bed-items .cb-item .cb-img {
        left: -123px;
    }
    /* service tab */
    .service-tabs {
        width: 100%;
    }
    .service-wrap.container {
        padding: 0;
    }
    .service-tabs .nav-tabs .nav-item {
        max-width: 100%;
        width: calc(100% / 5);
        display: block;
    }
    .service-tabs .nav-tabs .nav-link {
        width: 100%;
        font-size: 15px;
    }
    .service-posts .service-post-wrap {
        padding: 31px 36px;
    }
    .service-posts .service-post-wrap .spw-img {
        width: 100%;
    }
    .service-posts,
    .service-post,
    .service-post-wrap {
        height: auto;
    }
    .service-posts .service-post-wrap .spw-content {
        margin-left: 36px;
        padding-top: 26px;
    }
    .service-posts .service-post-wrap .spw-content {
        width: 50%;
    }
    #multi-carousel {
        width: 100%;
    }
    #multi-carousel .owl-carousel {
        max-width: calc(100% - 214px);
        width: 100%;
    }
    .post-content .post-price {
        padding-bottom: 35px;
    }
    .section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
        margin-top: 18px;
    }
    .section-home-about .sha-wrap .sha-column-left .sha-more {
        margin-top: 39px;
    }
    .cat-studio-items .csti-item {
        /*width: calc(100% - 218px);*/
    }
    .cat-studio-items .csti-item img {
        width: 100%;
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cb-item .cb-img {
        /* right: -122px;*/
    }
    /* feature */
    .fw.container {
        /* max-width: calc(100% - 218px);*/
    }
    /*.fw-items {
        width: 100%;
    }*/
    .facilities-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .facilities-items .facilities-item {
        margin: 0 !important;
        padding: 15px;
    }
    .facilities-items .facilities-item,
    .facilities-items .facilities-item:nth-child(1) {
        width: 100%;
        /*height: 397px;*/
    }
    .facilities-item-wrap,
    .facilities-item-wrap .fiw-img {
        width: 100%;
        height: 100%;
    }
    /* quote */
    .quote-customer .carousel-inner {
        width: calc(100% - 244px);
    }
    /* home contact */
    .home-contact.container {
        max-width: calc(100% - 244px);
    }
}

@media screen and (max-width: 1680.98px) {
    /* home about us */
    .section-home-about .sha-wrap .sha-column-left .sha-excerpt p>br:nth-child(2n+1) {
        display: none;
    }
    /* home page */
    .fw-items .fw-items-wrap .fw-img {
        height: 325px;
    }
    .quote-customer .quote-author {
        padding-top: 35px;
    }
}

@media screen and (max-width: 1439.98px) {
    .cat-title {
        font-size: 30px;
    }
    .cat-title-number {
        font-size: 65px;
    }
    .cat-title-number::after {
        bottom: 45px;
    }
    /* home about us */
    .section-home-about .sha-wrap .sha-column-left .sha-excerpt p>br {
        display: none;
    }
    .cat-bed-items .cat-bed-items-wrap {
        /*width: calc(100% - 218px);
        margin: auto;*/
    }
    .cat-bed-items .cat-bed-items-wrap .cat-bed-title {
        /*right: 0;*/
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cat-bed-title {
        left: 10%;
    }
    .cat-bed-items .cb-item .cb-img {
        /*position: unset;
        width: 100%;
        height: auto;*/
    }
    .cat-bed-items .cb-item .cb-img img {
        width: 100%;
        height: 498px;
    }
    .cat-bed-items .cb-img .carousel-control {
        /* top: 213px !important;*/
    }
    .cat-bed-items .cb-img .carousel-control-prev {
        /*left: 0 !important;*/
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-next {
        right: 0 !important;
        left: unset !important;
    }
    .cat-bed-items .cb-item .cb-content {
        /* position: relative;
        right: unset;
        top: unset;
        width: auto;
        margin: 0 60px;
        margin-top: -64px;
        height: auto;*/
    }
    .cat-bed-items .cb-item .cb-content-wrap {
        width: 100%;
        display: inline-block;
    }
    .cat-bed-items .cat-bed-items-wrap {
        height: auto;
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cb-item .cb-content {
        /* right: unset;
        top: unset;
        left: unset;*/
    }
    /* feature */
    .fw.container {
        /* max-width: 100%;*/
    }
    /* home contact */
    .home-contact .hcw-left>img {
        width: 103px;
        height: 103px;
    }
    .home-contact .hcw-left {
        margin: 0;
        align-items: center;
        padding-left: 15px;
    }
    .home-contact .hcw-right {
        margin: 0;
        padding: 30px 15px;
    }
    /* home page */
    .fw-items .fw-items-wrap .fw-img {
        height: 325px;
    }
    .quote-customer .carousel-inner .carousel-item {
        padding-top: 75px;
    }
}


/* size LG - < 1200px */

@media screen and (max-width: 1199.98px) {
    .slider-home .n2-ss-slider .n2-ow {
        font-size: 40px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-next {
        top: 130px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-previous {
        top: 187px !important;
    }
    .sha-title.cl-title .cl-main-title {
        font-size: 40px;
    }
    section .sha-title.cl-title .cl-sub-title {
        margin-top: 11px;
    }
    .section-home-about {
        padding: 104px 0;
    }
    .section-home-about {
        margin: 0;
    }
    .section-home-about .container {
        max-width: 992px;
    }
    .section-home-about .sha-wrap .sha-column-right {
        width: 100%;
    }
    .section-home-about .sha-wrap .sha-column-right img,
    .section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
        width: 100%;
        height: 421px;
    }
    .section-home-about .sha-wrap .sha-column-right img {
        left: 15px;
    }
    .section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
        top: 15px;
    }
    .apartment-wrap.container,
    .features-wrap.container {
        max-width: calc(100% - 40px);
        width: 100%;
        margin: auto;
    }
    /* feature */
    .apartment-wrap.container,
    .features-wrap.container {
        padding-top: 67px;
    }
    .features-wrap.container {
        padding-bottom: 67px;
    }
    .apartment-wrap .cat-studio-main-title {
        margin-left: 15px;
    }
    /* service */
    .service-tabs {
        width: calc(100% - 60px)
    }
    .service-wrap.container {
        max-width: 100%;
    }
    .service-tabs .nav-tabs .nav-link {
        font-size: 18px;
    }
    .service-posts .service-post-wrap {
        padding: 31px 36px;
        display: block;
    }
    .service-posts .service-post-wrap .spw-img {
        width: 100%;
        height: auto;
    }
    .service-posts,
    .service-post,
    .service-post-wrap {
        height: auto;
    }
    .service-posts .service-post-wrap .spw-content {
        margin: 0 36px;
        padding-top: 26px;
        width: 100%;
    }
    .service-posts .spw-excerpt.sdes {
        white-space: normal;
        margin-right: 72px;
    }
    #multi-carousel {
        width: 100%;
    }
    .post-content .post-price {
        padding-bottom: 35px;
    }
    .section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
        margin-top: 18px;
        margin-bottom: 12px;
    }
    .section-home-about .sha-wrap .sha-column-left .sha-more {
        margin-top: 39px;
    }
    .cat-studio-items .csti-item {
        width: 100%;
        /*padding: 0 15px;*/
    }
    .cat-studio-items .csti-item img {
        width: 100%;
    }
    /* cat bed */
    .cat-bed .cat-bed-items {
        border: none !important;
    }
    .cat-bed-items .cat-bed-items-wrap {
        width: calc(100% - 30px);
    }
    .facilities-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .facilities-items .facilities-item {
        margin: 0 !important;
        padding: 15px;
    }
    .facilities-items .facilities-item,
    .facilities-items .facilities-item:nth-child(1) {
        width: 100%;
        height: 397px;
    }
    .facilities-item-wrap,
    .facilities-item-wrap .fiw-img {
        width: 100%;
        height: 100%;
    }
    /* quote */
    .quote-customer .carousel-inner {
        width: calc(100% - 60px);
    }
    /* home contact */
    .home-contact .hcw-left,
    .home-contact .hcw-right {
        margin: 0;
        padding-left: 60px;
        padding-right: 60px;
    }
    .home-contact .hcw-right {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1119px) {
    .apratment_bg {
        width: 100%;
        left: 0px;
    }
    .cat-bed-items .cat-bed-items-wrap {
        width: 100%;
    }
    .cat-bed-items .cat-bed-title {
        position: relative;
        top: 0px;
        left: 0px;
    }
    .cat-bed-items .cb-item .cb-img {
        width: 100%;
    }
    .cat-bed-items .cb-item .cb-content {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0;
    }
    .cat_item {
        width: 100% !important;
        border: none;
        margin-left: 0;
    }
    .cat-bed-items .cat-bed-items-wrap.lor .cb-item .cb-content,
    .cat-bed-items .cat-bed-items-wrap.lor .cat-bed-title {
        top: 0 !important;
        left: 0 !important;
    }
    .fw-items {
        width: 100% !important;
    }
}


/* size MD - < 991.98px */

@media screen and (max-width: 991.98px) {
    .slider-home .n2-ss-slider .n2-ow {
        font-size: 24px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-next {
        top: 90px !important;
    }
    .slider-home div#n2-ss-2 .nextend-arrow.nextend-arrow-previous {
        top: 141px !important;
    }
    .section-home-about {
        padding: 73px 0;
    }
    .section-home-about .sha-wrap {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: reverse!important;
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
    }
    .section-home-about .sha-wrap .sha-column-left {
        width: 100%;
        margin-top: 60px;
    }
    .section-home-about .sha-wrap .sha-column-left pre {
        white-space: normal;
    }
    .section-home-about .sha-wrap .sha-column-right img {
        position: unset;
    }
    .cat-studio-items .csti-item img {
        height: 392px;
    }
    .cat-studio-items .csti-img .carousel-control {
        top: 151px;
    }
    .cat-bed-items .cb-item .cb-img img {
        height: 392px;
    }
    .cat-bed-items .cb-img .carousel-control-next,
    .cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-next {
        top: 151px !important;
        right: 0 !important;
        left: unset !important;
    }
    .cat-bed-items .cb-img .carousel-control-prev,
    .cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-prev {
        top: 151px !important;
        left: 0 !important;
        right: unset !important;
    }
    .service-tabs .nav-tabs .nav-link {
        font-size: 18px;
    }
    .cat-bed .cat-bed-items {
        border: none !important;
    }
    /* event */
    #multi-carousel .owl-carousel {
        max-width: calc(100% - 160px);
    }
    /* feature */
    .fw-items .fw-items-wrap .fw-img {
        height: 215px;
    }
    /* quote */
    .quote-customer .quote-content {
        font-size: 24px;
    }
    /* home contact */
    .home-contact .hcw-left,
    .home-contact .hcw-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .post-content .post-title {
        font-size: 18px;
    }
}


/* size SM - < 767.98px */

@media screen and (max-width: 768px) {
    .cat-studio-items .csti-item .csti-content {
        margin: 0px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    .aparment-posts .container {
        max-width: calc(100% - 30px);
    }
    .cat-studio-items .csti-item .csti-content,
    .cat-bed-items .cb-item .cb-content {
        /*margin: 0 15px;*/
    }
    .cat-studio-items .csti-item .csti-content-wrap,
    .cat-bed-items .cb-item .cb-content-wrap {
        padding: 25px 30px
    }
    .cat-bed-items .cb-item .cb-content {
        /* margin-top: -64px;*/
    }
    .cat-bed-title .cat-line.mgr {
        display: none;
    }
    /* feature */
    .fw-items .fw-items-wrap .fw-img {
        height: auto;
    }
    .fw-items .fw-items-wrap:nth-child(n+2) {
        margin-top: 30px;
    }
    /* service tab*/
    .service-wrap.container {
        max-width: 100%;
        width: 100%;
    }
    .service-posts .service-post-wrap .spw-img {
        height: auto;
    }
    /* quote */
    .quote-customer .quote-content {
        font-size: 24px;
    }
    .quote-customer q::before {
        content: none;
    }
    .quote-customer q::after {
        content: none;
    }
    .quote-customer .carousel-inner .carousel-item {
        padding-top: 68px;
        text-align: center;
    }
    /* home contact */
    .home-contact.container {
        max-width: 100%;
    }
    .home-contact .hcw-left>img {
        width: 80px;
        height: 80px;
    }
    .home-contact .hcw-right-phone a {
        font-size: 28px;
    }
    .pd-0 {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* size E SM - < 575.98px */

@media screen and (max-width: 575.98px) {
    .home-contact .hcw-right-content {
        margin: 25px 10px;
    }
    #multi-carousel .owl-item img {
        height: auto;
    }
    /* quote */
    .quote-customer .quote-content {
        font-size: 18px;
    }
    .sha-title.cl-title .cl-main-title {
        font-size: 30px;
    }
    section .cl-sub-title,
    .section-home-about .sha-wrap .sha-column-left .sha-sub-title-2 {
        font-size: 18px;
    }
    .cat-studio-items .csti-item .csti-content {
        /*margin: 0 25px;*/
    }
    .cat-studio-items .csti-item .csti-content-wrap {
        padding: 25px 31px;
    }
    /* service tab */
    .service-tabs .nav-tabs {
        height: auto;
    }
    .service-tabs .nav-tabs .nav-item {
        width: 100%;
    }
    .service-posts .service-post-wrap .spw-content {
        width: auto;
        margin: 0;
    }
    .service-posts .service-post-wrap .spw-btn-direct a {
        margin: auto;
        margin-top: 34px;
    }
    .cat-studio-items .csti-item img,
    .cat-bed-items .cb-item .cb-img img {
        height: 300px;
    }
    .cat-studio-items .csti-img .carousel-control,
    .cat-bed-items .cb-img .carousel-control {
        width: 45px !important;
        height: 41px !important;
    }
    .cat-studio-items .csti-img .carousel-control {
        top: 111px;
    }
    .cat-bed-items .cb-img .carousel-control-prev,
    .cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-prev,
    .cat-bed-items .cb-img .carousel-control-next,
    .cat-bed-items .cat-bed-items-wrap.lor .cb-img .carousel-control-next {
        top: 111px !important;
    }
    .sdes {
        display: none;
    }
    .smo {
        display: block !important;
    }
    #multi-carousel .owl-prev {
        left: -40px;
    }
    #multi-carousel .owl-next {
        right: -40px;
    }
    #multi-carousel .next-icon,
    #multi-carousel .prev-icon {
        padding: 15px;
    }
    /* home contact */
    .home-contact .home-contact-wrap .hcw-col {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .home-contact .hcw-left>img {
        margin: auto;
        margin-bottom: 30px;
        width: 135px;
        height: 135px;
    }
    .home-contact .hcw-left-content {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    /* video home */
    .home-video iframe {
        height: 350px;
    }
    /* home page */
    .quote-customer .carousel-inner .carousel-item {
        padding-top: 35px;
    }
    #multi-carousel .owl-item {
        /*height: 335px;*/
    }
    #multi-carousel .owl-item img {
        /* height: 175px;*/
    }
    #multi-carousel .owl-carousel {
        max-width: calc(100% - 115px);
    }
}

@media screen and (max-width: 424.98px) {
    .bg-facilities-bottom {
        right: 0px;
        height: 163px;
    }
    .section-home-about .sha-wrap .sha-column-right img,
    .section-home-about .sha-wrap .sha-column-right .sha-overlay-image {
        height: 295px;
    }
    .apartment-wrap.container,
    .features-wrap.container {
        max-width: calc(100% - 30px);
    }
    .bg-facilities {
        width: 100%;
    }
    /* event */
    #multi-carousel .owl-carousel {
        max-width: 100%;
    }
    #multi-carousel .owl-theme .owl-nav {
        display: none;
    }
    /* feature */
    .fw.container {
        padding: 0;
    }
}