#pFacilities .sr-title {
    margin: 72px auto 16px;
}

.site-maincontentarea-facilities .carousel-item {
    width: 100%;
    height: 636px;
}

.site-maincontentarea-facilities .carousel-item img {
    width: 100%;
    height: 100%;
}

.site-maincontentarea-facilities .carousel-indicators {
    margin: 0;
    bottom: -62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.site-maincontentarea-facilities .carousel-indicators li {
    width: 90px;
    height: 52px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin: auto 5px;
}

.site-maincontentarea-facilities .sm-header {
    margin-top: 126px;
}

.site-maincontentarea-facilities .sm-header .post-title {
    display: inline-block;
}

.site-maincontentarea-facilities .line-left {
    height: 1px;
    width: 49px;
    background-color: #1F1F1F;
    display: inline-block;
    margin-right: 23px;
}

.site-maincontentarea-facilities .sm-header .sm-header-content pre {
    margin: 17px auto;
    margin-left: 72px;
}

.apd-title h4 {
    font: normal bold 19px 'Yu Gothic', 'sans-serif';
    line-height: 30px;
    color: #333333;
}

.smrow-content.apd-title h4 {
    font-size: 24px;
}

.smrow-utilities,
.smrow-content {
    padding: 45px 0;
}

.smrow-content {
    margin-left: 72px;
}

.smrow-content p {
    margin: 15px 0;
}

.smrow-item>* {
    float: left;
}

.smrow-item .smrow-text {
    padding: 0 18px;
}

.smrow-item:nth-child(n + 3) {
    margin-top: 23px;
}

.block-carousel-facilities-about {
    margin-top: 40px;
    margin-bottom: 190px;
}


.carousel-facilities-about .owl-carousel .fiw-img img{
    height: 534px;
}

.carousel-facilities-about .owl-carousel .owl-item{
    opacity: 0.5;
}

.carousel-facilities-about .owl-carousel .active{
    opacity: 1 !important;
}

.container-facilities-about{
    padding-left: 0px;
    padding-right: 0px
}

.container-facilities-about .wrap-facilities-about{
   width: 100%;
   position: relative;
}

.container-facilities-about .wrap-facilities-about .mask-facilities-about{
    width: 100%;
    height: 930px;
    position: absolute;
    z-index: -1;
    padding: 0px 60px;
}

.container-facilities-about .wrap-facilities-about .mask-facilities-about .content-facilities-about{
    background: #F6F5F1;
    position: relative;
    height: 100%;
}


.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 45%;
    left: 195px;
    background: #2c2d2d;
    height: 60px;
    width: 60px;
    opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 45%;
    right: 195px;
    background: #2c2d2d !important;
    height: 60px;
    width: 60px;
    opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus{
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover{
   background: #869791 !important;
}



.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    background: none;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    height: 20px;
    width: 20px;
    display: block;
}

.owl-carousel .owl-nav button.owl-next span {
    -webkit-transform: rotate( -45deg);
    -ms-transform: rotate( -45deg);
    transform: rotate( -45deg);
    margin-left: 15px;
}

.owl-carousel .owl-nav button.owl-prev span {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate( 135deg);
    transform: rotate(135deg);
    margin-left: 25px;
}


/* responsive */

@media (min-width: 1920px) {
    .single-facilities .page-wrap>.container {
        max-width: 1094px;
        padding: 0;
    }
}


/* size LG - < 1200px */

@media screen and (max-width: 1199.98px) {}


/* size MD - < 991.98px */

@media screen and (max-width: 991.98px) {}


/* size SM - < 767.98px */

@media screen and (max-width: 767.98px) {
    .smrow-content {
        margin-left: 0;
    }
    .site-maincontentarea-facilities .carousel-item {
        height: 300px;
    }
    .site-maincontentarea-facilities .carousel-indicators {
        width: auto;
    }
    .site-maincontentarea-facilities .carousel-indicators li {
        margin: auto 1px;
    }
    .smrow-item {
        margin-top: 23px;
    }
    section .cl-title {
        margin: 30px 0;
    }
    section .cl-title .cl-sub-title {
        margin-top: 11px;
    }
    .cl-title .cl-main-title {
        font-size: 40px;
    }
    .container,
    .content-area {
        width: auto;
    }

    .carousel-facilities-about .owl-carousel .fiw-img img{
      height: 174px;
    }

    .container-facilities-about .wrap-facilities-about .mask-facilities-about{
        width: 100%;
        height: 450px;
        position: absolute;
        z-index: -1;
        padding: 0px 20px;
    }    
}


/* size E SM - < 575.98px */

@media screen and (max-width: 575.98px) {
    .carousel-facilities-about .owl-carousel .fiw-img img{
      height: 133px;
    }
}