@font-face {
    font-family: 'Yu Gothic';
    src: url('YuGothic-Bold.eot');
    src: url('YuGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('YuGothic-Bold.woff2') format('woff2'),
        url('YuGothic-Bold.woff') format('woff'),
        url('YuGothic-Bold.ttf') format('truetype'),
        url('YuGothic-Bold.svg#YuGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

